<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="TestSuite.Listeners"></listener>
</listeners>
  <test name="Validate Home page ">
    <classes>
      <class name="TestSuite.ValidationHomePage"/>
    </classes>
  </test>
  <test name="Loging Page ">
    <classes>
      <class name="TestSuite.LogingPage"/>
    </classes>
  </test>
</suite> 
